{{'bylt-slider-section.css' | asset_url | stylesheet_tag}}

<section class="slider-products">

    <div class="father-title-products">
        <div class="img-title-products">
            <img src="https://cdn.shopify.com/s/files/1/0758/8115/2813/files/flavors.png?v=1683038604" alt="" srcset="">
        </div>

        <div class="title-products">
            SHOP THE FLAVORS
        </div>
    </div>



    <div class="swiper mySwiper">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="container-products">
              <div class="containerimg-products">
                  <img src="https://cdn.shopify.com/s/files/1/0758/8115/2813/files/image_1.png?v=1683038872" alt="" srcset="">
              </div>
  
              <div class="container-info-products">
  
                  <div class="pack">12 Pak</div>
                  <div class="flavor">LEMON LIME</div>
                  <div class="properties">16 FL Oz. (473ml)</div>
                  <div class="star">
                      <svg width="74" height="15" viewBox="0 0 74 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.39791 13.2351L4.34582 9.17135L1.16666 6.43806L5.36666 6.07652L6.99999 2.24414L8.63332 6.07652L12.8333 6.43806L9.65416 9.17135L10.6021 13.2351L6.99999 11.0803L3.39791 13.2351Z" fill="#FFC700"/>
                      <path d="M18.3979 13.2351L19.3458 9.17135L16.1667 6.43806L20.3667 6.07652L22 2.24414L23.6333 6.07652L27.8333 6.43806L24.6542 9.17135L25.6021 13.2351L22 11.0803L18.3979 13.2351Z" fill="#FFC700"/>
                      <path d="M33.3979 13.2351L34.3458 9.17135L31.1667 6.43806L35.3667 6.07652L37 2.24414L38.6333 6.07652L42.8333 6.43806L39.6542 9.17135L40.6021 13.2351L37 11.0803L33.3979 13.2351Z" fill="#FFC700"/>
                      <path d="M48.3979 13.2351L49.3458 9.17135L46.1667 6.43806L50.3667 6.07652L52 2.24414L53.6333 6.07652L57.8333 6.43806L54.6542 9.17135L55.6021 13.2351L52 11.0803L48.3979 13.2351Z" fill="#FFC700"/>
                      <path d="M63.3979 13.2351L64.3458 9.17135L61.1667 6.43806L65.3667 6.07652L67 2.24414L68.6333 6.07652L72.8333 6.43806L69.6542 9.17135L70.6021 13.2351L67 11.0803L63.3979 13.2351Z" fill="#FFC700"/>
                      </svg>
                  </div>
                  <div class="price">$31.99</div>
  
              </div>
  
              <div class="button-buy">
                  <a  class="text-button-buy" href="">BUY NOW</a>
              </div>
  
            </div>

            <div class="container-products">
              <div class="containerimg-products">
                  <img src="https://cdn.shopify.com/s/files/1/0758/8115/2813/files/image_2.png?v=1683045300" alt="" srcset="">
              </div>
  
              <div class="container-info-products">
  
                  <div class="pack">12 Pak</div>
                  <div class="flavor">ORANGE</div>
                  <div class="properties">16 FL Oz. (473ml)</div>
                  <div class="star">
                      <svg width="74" height="15" viewBox="0 0 74 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.39791 13.2351L4.34582 9.17135L1.16666 6.43806L5.36666 6.07652L6.99999 2.24414L8.63332 6.07652L12.8333 6.43806L9.65416 9.17135L10.6021 13.2351L6.99999 11.0803L3.39791 13.2351Z" fill="#FFC700"/>
                      <path d="M18.3979 13.2351L19.3458 9.17135L16.1667 6.43806L20.3667 6.07652L22 2.24414L23.6333 6.07652L27.8333 6.43806L24.6542 9.17135L25.6021 13.2351L22 11.0803L18.3979 13.2351Z" fill="#FFC700"/>
                      <path d="M33.3979 13.2351L34.3458 9.17135L31.1667 6.43806L35.3667 6.07652L37 2.24414L38.6333 6.07652L42.8333 6.43806L39.6542 9.17135L40.6021 13.2351L37 11.0803L33.3979 13.2351Z" fill="#FFC700"/>
                      <path d="M48.3979 13.2351L49.3458 9.17135L46.1667 6.43806L50.3667 6.07652L52 2.24414L53.6333 6.07652L57.8333 6.43806L54.6542 9.17135L55.6021 13.2351L52 11.0803L48.3979 13.2351Z" fill="#FFC700"/>
                      <path d="M63.3979 13.2351L64.3458 9.17135L61.1667 6.43806L65.3667 6.07652L67 2.24414L68.6333 6.07652L72.8333 6.43806L69.6542 9.17135L70.6021 13.2351L67 11.0803L63.3979 13.2351Z" fill="#FFC700"/>
                      </svg>
                  </div>
                  <div class="price">$31.99</div>
  
              </div>
  
              <div class="button-buy">
                  <a  class="text-button-buy" href="">BUY NOW</a>
              </div>
  
            </div>


            <div class="container-products">
              <div class="containerimg-products">
                  <img src="https://cdn.shopify.com/s/files/1/0758/8115/2813/files/image_3.png?v=1683045365" alt="" srcset="">
              </div>
  
              <div class="container-info-products">
  
                  <div class="pack">12 Pak</div>
                  <div class="flavor">TROPICAL PUNCH</div>
                  <div class="properties">16 FL Oz. (473ml)</div>
                  <div class="star">
                      <svg width="74" height="15" viewBox="0 0 74 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.39791 13.2351L4.34582 9.17135L1.16666 6.43806L5.36666 6.07652L6.99999 2.24414L8.63332 6.07652L12.8333 6.43806L9.65416 9.17135L10.6021 13.2351L6.99999 11.0803L3.39791 13.2351Z" fill="#FFC700"/>
                      <path d="M18.3979 13.2351L19.3458 9.17135L16.1667 6.43806L20.3667 6.07652L22 2.24414L23.6333 6.07652L27.8333 6.43806L24.6542 9.17135L25.6021 13.2351L22 11.0803L18.3979 13.2351Z" fill="#FFC700"/>
                      <path d="M33.3979 13.2351L34.3458 9.17135L31.1667 6.43806L35.3667 6.07652L37 2.24414L38.6333 6.07652L42.8333 6.43806L39.6542 9.17135L40.6021 13.2351L37 11.0803L33.3979 13.2351Z" fill="#FFC700"/>
                      <path d="M48.3979 13.2351L49.3458 9.17135L46.1667 6.43806L50.3667 6.07652L52 2.24414L53.6333 6.07652L57.8333 6.43806L54.6542 9.17135L55.6021 13.2351L52 11.0803L48.3979 13.2351Z" fill="#FFC700"/>
                      <path d="M63.3979 13.2351L64.3458 9.17135L61.1667 6.43806L65.3667 6.07652L67 2.24414L68.6333 6.07652L72.8333 6.43806L69.6542 9.17135L70.6021 13.2351L67 11.0803L63.3979 13.2351Z" fill="#FFC700"/>
                      </svg>
                  </div>
                  <div class="price">$31.99</div>
  
              </div>
  
              <div class="button-buy">
                  <a  class="text-button-buy" href="">BUY NOW</a>
              </div>
  
            </div>


            <div class="container-products">
              <div class="containerimg-products">
                  <img src="https://cdn.shopify.com/s/files/1/0758/8115/2813/files/image.png?v=1683038872" alt="" srcset="">
              </div>
  
              <div class="container-info-products">
  
                  <div class="pack">12 Pak</div>
                  <div class="flavor">GRAPE</div>
                  <div class="properties">16 FL Oz. (473ml)</div>
                  <div class="star">
                      <svg width="74" height="15" viewBox="0 0 74 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.39791 13.2351L4.34582 9.17135L1.16666 6.43806L5.36666 6.07652L6.99999 2.24414L8.63332 6.07652L12.8333 6.43806L9.65416 9.17135L10.6021 13.2351L6.99999 11.0803L3.39791 13.2351Z" fill="#FFC700"/>
                      <path d="M18.3979 13.2351L19.3458 9.17135L16.1667 6.43806L20.3667 6.07652L22 2.24414L23.6333 6.07652L27.8333 6.43806L24.6542 9.17135L25.6021 13.2351L22 11.0803L18.3979 13.2351Z" fill="#FFC700"/>
                      <path d="M33.3979 13.2351L34.3458 9.17135L31.1667 6.43806L35.3667 6.07652L37 2.24414L38.6333 6.07652L42.8333 6.43806L39.6542 9.17135L40.6021 13.2351L37 11.0803L33.3979 13.2351Z" fill="#FFC700"/>
                      <path d="M48.3979 13.2351L49.3458 9.17135L46.1667 6.43806L50.3667 6.07652L52 2.24414L53.6333 6.07652L57.8333 6.43806L54.6542 9.17135L55.6021 13.2351L52 11.0803L48.3979 13.2351Z" fill="#FFC700"/>
                      <path d="M63.3979 13.2351L64.3458 9.17135L61.1667 6.43806L65.3667 6.07652L67 2.24414L68.6333 6.07652L72.8333 6.43806L69.6542 9.17135L70.6021 13.2351L67 11.0803L63.3979 13.2351Z" fill="#FFC700"/>
                      </svg>
                  </div>
                  <div class="price">$31.99</div>
  
              </div>
  
              <div class="button-buy">
                  <a  class="text-button-buy" href="">BUY NOW</a>
              </div>
  
            </div>



          </div>



          <div class="swiper-slide">
            <div class="container-products">
              <div class="containerimg-products">
                  <img src="https://cdn.shopify.com/s/files/1/0758/8115/2813/files/image_1.png?v=1683038872" alt="" srcset="">
              </div>
  
              <div class="container-info-products">
  
                  <div class="pack">12 Pak</div>
                  <div class="flavor">LEMON LIME</div>
                  <div class="properties">16 FL Oz. (473ml)</div>
                  <div class="star">
                      <svg width="74" height="15" viewBox="0 0 74 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.39791 13.2351L4.34582 9.17135L1.16666 6.43806L5.36666 6.07652L6.99999 2.24414L8.63332 6.07652L12.8333 6.43806L9.65416 9.17135L10.6021 13.2351L6.99999 11.0803L3.39791 13.2351Z" fill="#FFC700"/>
                      <path d="M18.3979 13.2351L19.3458 9.17135L16.1667 6.43806L20.3667 6.07652L22 2.24414L23.6333 6.07652L27.8333 6.43806L24.6542 9.17135L25.6021 13.2351L22 11.0803L18.3979 13.2351Z" fill="#FFC700"/>
                      <path d="M33.3979 13.2351L34.3458 9.17135L31.1667 6.43806L35.3667 6.07652L37 2.24414L38.6333 6.07652L42.8333 6.43806L39.6542 9.17135L40.6021 13.2351L37 11.0803L33.3979 13.2351Z" fill="#FFC700"/>
                      <path d="M48.3979 13.2351L49.3458 9.17135L46.1667 6.43806L50.3667 6.07652L52 2.24414L53.6333 6.07652L57.8333 6.43806L54.6542 9.17135L55.6021 13.2351L52 11.0803L48.3979 13.2351Z" fill="#FFC700"/>
                      <path d="M63.3979 13.2351L64.3458 9.17135L61.1667 6.43806L65.3667 6.07652L67 2.24414L68.6333 6.07652L72.8333 6.43806L69.6542 9.17135L70.6021 13.2351L67 11.0803L63.3979 13.2351Z" fill="#FFC700"/>
                      </svg>
                  </div>
                  <div class="price">$31.99</div>
  
              </div>
  
              <div class="button-buy">
                  <a  class="text-button-buy" href="">BUY NOW</a>
              </div>
  
            </div>

            <div class="container-products">
              <div class="containerimg-products">
                  <img src="https://cdn.shopify.com/s/files/1/0758/8115/2813/files/image_2.png?v=1683045300" alt="" srcset="">
              </div>
  
              <div class="container-info-products">
  
                  <div class="pack">12 Pak</div>
                  <div class="flavor">ORANGE</div>
                  <div class="properties">16 FL Oz. (473ml)</div>
                  <div class="star">
                      <svg width="74" height="15" viewBox="0 0 74 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.39791 13.2351L4.34582 9.17135L1.16666 6.43806L5.36666 6.07652L6.99999 2.24414L8.63332 6.07652L12.8333 6.43806L9.65416 9.17135L10.6021 13.2351L6.99999 11.0803L3.39791 13.2351Z" fill="#FFC700"/>
                      <path d="M18.3979 13.2351L19.3458 9.17135L16.1667 6.43806L20.3667 6.07652L22 2.24414L23.6333 6.07652L27.8333 6.43806L24.6542 9.17135L25.6021 13.2351L22 11.0803L18.3979 13.2351Z" fill="#FFC700"/>
                      <path d="M33.3979 13.2351L34.3458 9.17135L31.1667 6.43806L35.3667 6.07652L37 2.24414L38.6333 6.07652L42.8333 6.43806L39.6542 9.17135L40.6021 13.2351L37 11.0803L33.3979 13.2351Z" fill="#FFC700"/>
                      <path d="M48.3979 13.2351L49.3458 9.17135L46.1667 6.43806L50.3667 6.07652L52 2.24414L53.6333 6.07652L57.8333 6.43806L54.6542 9.17135L55.6021 13.2351L52 11.0803L48.3979 13.2351Z" fill="#FFC700"/>
                      <path d="M63.3979 13.2351L64.3458 9.17135L61.1667 6.43806L65.3667 6.07652L67 2.24414L68.6333 6.07652L72.8333 6.43806L69.6542 9.17135L70.6021 13.2351L67 11.0803L63.3979 13.2351Z" fill="#FFC700"/>
                      </svg>
                  </div>
                  <div class="price">$31.99</div>
  
              </div>
  
              <div class="button-buy">
                  <a  class="text-button-buy" href="">BUY NOW</a>
              </div>
  
            </div>


            <div class="container-products">
              <div class="containerimg-products">
                  <img src="https://cdn.shopify.com/s/files/1/0758/8115/2813/files/image_3.png?v=1683045365" alt="" srcset="">
              </div>
  
              <div class="container-info-products">
  
                  <div class="pack">12 Pak</div>
                  <div class="flavor">TROPICAL PUNCH</div>
                  <div class="properties">16 FL Oz. (473ml)</div>
                  <div class="star">
                      <svg width="74" height="15" viewBox="0 0 74 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.39791 13.2351L4.34582 9.17135L1.16666 6.43806L5.36666 6.07652L6.99999 2.24414L8.63332 6.07652L12.8333 6.43806L9.65416 9.17135L10.6021 13.2351L6.99999 11.0803L3.39791 13.2351Z" fill="#FFC700"/>
                      <path d="M18.3979 13.2351L19.3458 9.17135L16.1667 6.43806L20.3667 6.07652L22 2.24414L23.6333 6.07652L27.8333 6.43806L24.6542 9.17135L25.6021 13.2351L22 11.0803L18.3979 13.2351Z" fill="#FFC700"/>
                      <path d="M33.3979 13.2351L34.3458 9.17135L31.1667 6.43806L35.3667 6.07652L37 2.24414L38.6333 6.07652L42.8333 6.43806L39.6542 9.17135L40.6021 13.2351L37 11.0803L33.3979 13.2351Z" fill="#FFC700"/>
                      <path d="M48.3979 13.2351L49.3458 9.17135L46.1667 6.43806L50.3667 6.07652L52 2.24414L53.6333 6.07652L57.8333 6.43806L54.6542 9.17135L55.6021 13.2351L52 11.0803L48.3979 13.2351Z" fill="#FFC700"/>
                      <path d="M63.3979 13.2351L64.3458 9.17135L61.1667 6.43806L65.3667 6.07652L67 2.24414L68.6333 6.07652L72.8333 6.43806L69.6542 9.17135L70.6021 13.2351L67 11.0803L63.3979 13.2351Z" fill="#FFC700"/>
                      </svg>
                  </div>
                  <div class="price">$31.99</div>
  
              </div>
  
              <div class="button-buy">
                  <a  class="text-button-buy" href="">BUY NOW</a>
              </div>
  
            </div>


            <div class="container-products">
              <div class="containerimg-products">
                  <img src="https://cdn.shopify.com/s/files/1/0758/8115/2813/files/image.png?v=1683038872" alt="" srcset="">
              </div>
  
              <div class="container-info-products">
  
                  <div class="pack">12 Pak</div>
                  <div class="flavor">GRAPE</div>
                  <div class="properties">16 FL Oz. (473ml)</div>
                  <div class="star">
                      <svg width="74" height="15" viewBox="0 0 74 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.39791 13.2351L4.34582 9.17135L1.16666 6.43806L5.36666 6.07652L6.99999 2.24414L8.63332 6.07652L12.8333 6.43806L9.65416 9.17135L10.6021 13.2351L6.99999 11.0803L3.39791 13.2351Z" fill="#FFC700"/>
                      <path d="M18.3979 13.2351L19.3458 9.17135L16.1667 6.43806L20.3667 6.07652L22 2.24414L23.6333 6.07652L27.8333 6.43806L24.6542 9.17135L25.6021 13.2351L22 11.0803L18.3979 13.2351Z" fill="#FFC700"/>
                      <path d="M33.3979 13.2351L34.3458 9.17135L31.1667 6.43806L35.3667 6.07652L37 2.24414L38.6333 6.07652L42.8333 6.43806L39.6542 9.17135L40.6021 13.2351L37 11.0803L33.3979 13.2351Z" fill="#FFC700"/>
                      <path d="M48.3979 13.2351L49.3458 9.17135L46.1667 6.43806L50.3667 6.07652L52 2.24414L53.6333 6.07652L57.8333 6.43806L54.6542 9.17135L55.6021 13.2351L52 11.0803L48.3979 13.2351Z" fill="#FFC700"/>
                      <path d="M63.3979 13.2351L64.3458 9.17135L61.1667 6.43806L65.3667 6.07652L67 2.24414L68.6333 6.07652L72.8333 6.43806L69.6542 9.17135L70.6021 13.2351L67 11.0803L63.3979 13.2351Z" fill="#FFC700"/>
                      </svg>
                  </div>
                  <div class="price">$31.99</div>
  
              </div>
  
              <div class="button-buy">
                  <a  class="text-button-buy" href="">BUY NOW</a>
              </div>
  
            </div>



          </div>

          
        

        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

  
</section>


