{{'bylt-header.css' | asset_url | stylesheet_tag}}

<section class="header-bylt">

    <div class="father-option-header">

        <div class="container-logo">
            <img src="https://cdn.shopify.com/s/files/1/0750/0162/6898/files/unnamed-BYLT-BLACK_480x-_1.png?v=1682638526" alt="" srcset="">
        </div>

        <div class="father-options">
            <a class="options" href="">SPORTS DRINKS</a>
            <a class="options" href="">THE SCIENCE</a>
            <a class="options" href="">MEDIA</a>
            <a class="options" href="">ABOUT</a>
            <a class="options" href="">APPAREL</a>
            <a class="options" href="">WHERE TO BUY</a>
        
        </div>

        <div class="father-items">
          <a class="items first" href="">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.625 10.5H11.0325L10.8225 10.2975C11.5829 9.41552 12.0008 8.28952 12 7.125C12 6.16082 11.7141 5.21829 11.1784 4.4166C10.6427 3.61491 9.88137 2.99007 8.99058 2.62109C8.09979 2.25211 7.11959 2.15557 6.17394 2.34367C5.22828 2.53178 4.35964 2.99608 3.67786 3.67786C2.99608 4.35964 2.53178 5.22828 2.34367 6.17394C2.15557 7.11959 2.25211 8.09979 2.62109 8.99058C2.99007 9.88137 3.61491 10.6427 4.4166 11.1784C5.21829 11.7141 6.16082 12 7.125 12C8.3325 12 9.4425 11.5575 10.2975 10.8225L10.5 11.0325V11.625L14.25 15.3675L15.3675 14.25L11.625 10.5V10.5ZM7.125 10.5C5.2575 10.5 3.75 8.9925 3.75 7.125C3.75 5.2575 5.2575 3.75 7.125 3.75C8.9925 3.75 10.5 5.2575 10.5 7.125C10.5 8.9925 8.9925 10.5 7.125 10.5Z" fill="white"/>
            </svg>
          </a>
        
          <a class="items" href="">
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.50002 1.59375C7.04121 1.59375 5.84377 2.79119 5.84377 4.25V4.78125H3.22046L3.18752 5.27956L2.65627 14.8421L2.6228 15.4063H14.3767L14.3438 14.8415L13.8125 5.27903L13.7791 4.78125H11.1563V4.25C11.1563 2.79119 9.95883 1.59375 8.50002 1.59375ZM8.50002 2.65625C8.92271 2.65625 9.32809 2.82416 9.62697 3.12305C9.92586 3.42193 10.0938 3.82731 10.0938 4.25V4.78125H6.90627V4.25C6.90627 3.82731 7.07418 3.42193 7.37307 3.12305C7.67196 2.82416 8.07733 2.65625 8.50002 2.65625ZM4.21655 5.84375H5.84377V7.4375H6.90627V5.84375H10.0938V7.4375H11.1563V5.84375H12.7835L13.2483 14.3438H3.75224L4.21655 5.84375Z" fill="white"/>
            </svg>
          </a>

          <a class="items" href="">
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_9_46)">
            <path d="M8.50001 8.02777C9.15379 8.02777 9.79289 7.8339 10.3365 7.47068C10.8801 7.10746 11.3038 6.59121 11.5539 5.98719C11.8041 5.38318 11.8696 4.71855 11.7421 4.07733C11.6145 3.43612 11.2997 2.84712 10.8374 2.38483C10.3751 1.92254 9.78611 1.60772 9.1449 1.48017C8.50368 1.35263 7.83904 1.41809 7.23503 1.66828C6.63102 1.91847 6.11476 2.34215 5.75154 2.88574C5.38833 3.42934 5.19446 4.06844 5.19446 4.72221C5.19446 5.5989 5.54272 6.43968 6.16263 7.05959C6.78254 7.6795 7.62333 8.02777 8.50001 8.02777ZM8.50001 2.3611C8.967 2.3611 9.42349 2.49958 9.81178 2.75902C10.2001 3.01846 10.5027 3.38722 10.6814 3.81866C10.8601 4.25009 10.9069 4.72483 10.8158 5.18284C10.7247 5.64085 10.4998 6.06156 10.1696 6.39177C9.83936 6.72198 9.41865 6.94685 8.96064 7.03796C8.50263 7.12906 8.02789 7.0823 7.59646 6.90359C7.16502 6.72489 6.79626 6.42226 6.53682 6.03398C6.27738 5.64569 6.1389 5.1892 6.1389 4.72221C6.1389 4.09601 6.38766 3.49545 6.83046 3.05266C7.27325 2.60986 7.87381 2.3611 8.50001 2.3611Z" fill="white"/>
            <path d="M14.3886 11.5081C13.6313 10.7077 12.7187 10.0701 11.7066 9.63438C10.6945 9.19867 9.60422 8.97394 8.50233 8.97394C7.40045 8.97394 6.31013 9.19867 5.29805 9.63438C4.28597 10.0701 3.37338 10.7077 2.61609 11.5081C2.4519 11.6834 2.36071 11.9148 2.36109 12.155V14.6389C2.36109 14.8894 2.46059 15.1296 2.63771 15.3067C2.81482 15.4838 3.05505 15.5833 3.30553 15.5833H13.6944C13.9449 15.5833 14.1851 15.4838 14.3622 15.3067C14.5394 15.1296 14.6389 14.8894 14.6389 14.6389V12.155C14.6405 11.9154 14.5511 11.6842 14.3886 11.5081ZM13.6944 14.6389H3.30553V12.1503C3.97478 11.4456 4.78042 10.8844 5.67342 10.501C6.56642 10.1175 7.52812 9.91973 8.49997 9.91973C9.47183 9.91973 10.4335 10.1175 11.3265 10.501C12.2195 10.8844 13.0252 11.4456 13.6944 12.1503V14.6389Z" fill="white"/>
            </g>
            <defs>
            <clipPath id="clip0_9_46">
            <rect width="17" height="17" fill="white"/>
            </clipPath>
            </defs>
            </svg>            
          </a>


        </div>

        <div class="burguer" id="burguer-option">
            <div class="line-burguer"></div>
            <div class="line-burguer"></div>
            <div class="line-burguer line-last"></div>
        </div>


    </div>

    <div class="menu-mobile" id="menu-mobile">

        <div class="father-options-mobile">
            <a class="options options-mobile" href="">SPORTS DRINKS</a>
            <a class="options options-mobile" href="">THE SCIENCE</a>
            <a class="options options-mobile" href="">MEDIA</a>
            <a class="options options-mobile" href="">ABOUT</a>
            <a class="options options-mobile" href="">APPAREL</a>
            <a class="options options-mobile" href="">WHERE TO BUY</a>
        </div>

    </div>


</section>

<script>
    
    let burguer = document.getElementById ('burguer-option');
    let menuMobile =document.getElementById ('menu-mobile');

    burguer.addEventListener("click", function() {
        menuMobile.classList.toggle('show');
      });

</script>