{{'bylt-slider-section.css' | asset_url | stylesheet_tag}}

<section class="slider-products">

    <div class="father-title-products">
        <div class="img-title-products">
            <img src="https://cdn.shopify.com/s/files/1/0758/8115/2813/files/flavors.png?v=1683038604" alt="" srcset="">
        </div>

        <div class="title-products">
            SHOP THE FLAVORS
        </div>
    </div>



    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">Slide 1</div>
          <div class="swiper-slide">Slide 2</div>

        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>

  
</section>

<script>
    var swiper = new Swiper(".mySwiper", {
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>