{{'bylt-beyond.css' | asset_url | stylesheet_tag}}

<section class="father-beyond">

    <div class="background-general">


        <div class="background-green">

            <div class="father-frame-beyond">

                <div class="father-text-beyond same-width">
                    BEYOND
                </div>

                <div class="container-img1-drink same-width">
                    <img class="img-width img-drink" src="https://cdn.shopify.com/s/files/1/0758/8115/2813/files/Rectangle_25.png?v=1683127567" alt="" srcset="">
                </div>

                <div class="father-text-your same-width">
                    YOUR
                </div>

                <div class="container-img2-beyond same-width">
                    <img class="img-width img2-beyond" src="https://cdn.shopify.com/s/files/1/0758/8115/2813/files/Rectangle_26.png?v=1683127656" alt="" srcset="">
                </div>

                <div class="father-text-limit same-width">
                    LIMIT
                </div>

                <div class="container-img3-machine same-width">
                    <img class="img-width img3-machine" src="https://cdn.shopify.com/s/files/1/0758/8115/2813/files/Rectangle_27.png?v=1683127671" alt="" srcset="">
                </div>

                <div class="container-img4-beyond same-width2">
                    <img class="img-width img4-beyond" src="https://cdn.shopify.com/s/files/1/0758/8115/2813/files/Rectangle_28.png?v=1683127671" alt="" srcset="">
                </div>

                <div class="father-text-training same-width2">
                    TRAINING
                </div>














            </div>

        </div>


    </div>







</section>