{{'bylt-hero.css' | asset_url | stylesheet_tag}}



<section class="hero-bylt">

    <div class="father-content-hero">

        <div class="container-row-green">
            <img class="row-green" src="" alt="" srcset="">
        </div>

        <div class="content-hero">

            <div class="father-info-hero">

                <div class="container-img-ray">
                    <img class="img-ray" src="https://cdn.shopify.com/s/files/1/0750/0162/6898/files/lighting_icon_cb6719dc-2510-422f-8b78-659e6d2bebf6.png?v=1682723821" alt="" srcset="">
                </div>

                <div class="container-title-hero">
                    <div class="title-hero">THE COMPLETE SPORTS DRINK</div>
                </div>

                <div class="container-frames-green">

                    <div class="frame-green">
                        <div class="text-frame">100% plant based aminos</div>
                    </div>

                    <div class="frame-green">
                        <div class="text-frame">clinically dosed ingredients</div>
                    </div>

                </div>

                <div class="container-ingredients">
                    <div class="ingredients">
                        <div class="img-ingre">
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.2748 6.49255C10.2863 7.6721 10.3456 9.43754 11.454 10.5459C12.7225 11.8144 13.0286 13.6862 12.3729 15.2462C12.8034 15.0459 13.1505 14.7332 13.4206 14.3045C14.3794 12.9452 14.3794 9.05481 13.4206 7.69547C12.9502 6.94887 12.2464 6.55385 11.2748 6.49255Z" fill="#94D600"/>
                            <path d="M19.1857 3.7225L16.6123 6.29581C16.3616 6.54653 15.955 6.54653 15.7043 6.29581C15.4535 6.04509 15.4535 5.6385 15.7043 5.38774L18.2776 2.81444C7.71991 -5.9893 -5.98595 7.73104 2.81432 18.2775L5.38766 15.7042C5.63838 15.4535 6.04497 15.4535 6.29574 15.7042C6.5465 15.9549 6.5465 16.3615 6.29574 16.6123L3.7224 19.1856C14.2801 27.9893 27.986 14.269 19.1857 3.7225ZM14.5072 14.989C13.1376 17.4021 8.86227 17.4018 7.49281 14.989C6.27057 13.2206 6.27057 8.77934 7.49281 7.01098C8.8624 4.59791 13.1378 4.59817 14.5072 7.01098C15.7294 8.77934 15.7295 13.2206 14.5072 14.989Z" fill="#94D600"/>
                            <path d="M9.62703 6.75376C9.19652 6.95409 8.84939 7.26676 8.57932 7.69547C7.62051 9.05476 7.62051 12.9452 8.57932 14.3045C9.04964 15.0511 9.75349 15.4461 10.7251 15.5074C11.7136 14.3279 11.6543 12.5624 10.5459 11.454C9.27738 10.1855 8.97131 8.31377 9.62703 6.75376Z" fill="#94D600"/>
                            </svg>
                        </div>
                        <div class="text-ingre">no caffeine</div>
                    </div>

                    <div class="ingredients">
                        <div class="img-ingre">
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.2748 6.49255C10.2863 7.6721 10.3456 9.43754 11.454 10.5459C12.7225 11.8144 13.0286 13.6862 12.3729 15.2462C12.8034 15.0459 13.1505 14.7332 13.4206 14.3045C14.3794 12.9452 14.3794 9.05481 13.4206 7.69547C12.9502 6.94887 12.2464 6.55385 11.2748 6.49255Z" fill="#94D600"/>
                            <path d="M19.1857 3.7225L16.6123 6.29581C16.3616 6.54653 15.955 6.54653 15.7043 6.29581C15.4535 6.04509 15.4535 5.6385 15.7043 5.38774L18.2776 2.81444C7.71991 -5.9893 -5.98595 7.73104 2.81432 18.2775L5.38766 15.7042C5.63838 15.4535 6.04497 15.4535 6.29574 15.7042C6.5465 15.9549 6.5465 16.3615 6.29574 16.6123L3.7224 19.1856C14.2801 27.9893 27.986 14.269 19.1857 3.7225ZM14.5072 14.989C13.1376 17.4021 8.86227 17.4018 7.49281 14.989C6.27057 13.2206 6.27057 8.77934 7.49281 7.01098C8.8624 4.59791 13.1378 4.59817 14.5072 7.01098C15.7294 8.77934 15.7295 13.2206 14.5072 14.989Z" fill="#94D600"/>
                            <path d="M9.62703 6.75376C9.19652 6.95409 8.84939 7.26676 8.57932 7.69547C7.62051 9.05476 7.62051 12.9452 8.57932 14.3045C9.04964 15.0511 9.75349 15.4461 10.7251 15.5074C11.7136 14.3279 11.6543 12.5624 10.5459 11.454C9.27738 10.1855 8.97131 8.31377 9.62703 6.75376Z" fill="#94D600"/>
                            </svg>
                        </div>
                        <div class="text-ingre">no preservatives</div>
                    </div>


                    <div class="ingredients">
                        <div class="img-ingre">
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.2748 6.49255C10.2863 7.6721 10.3456 9.43754 11.454 10.5459C12.7225 11.8144 13.0286 13.6862 12.3729 15.2462C12.8034 15.0459 13.1505 14.7332 13.4206 14.3045C14.3794 12.9452 14.3794 9.05481 13.4206 7.69547C12.9502 6.94887 12.2464 6.55385 11.2748 6.49255Z" fill="#94D600"/>
                            <path d="M19.1857 3.7225L16.6123 6.29581C16.3616 6.54653 15.955 6.54653 15.7043 6.29581C15.4535 6.04509 15.4535 5.6385 15.7043 5.38774L18.2776 2.81444C7.71991 -5.9893 -5.98595 7.73104 2.81432 18.2775L5.38766 15.7042C5.63838 15.4535 6.04497 15.4535 6.29574 15.7042C6.5465 15.9549 6.5465 16.3615 6.29574 16.6123L3.7224 19.1856C14.2801 27.9893 27.986 14.269 19.1857 3.7225ZM14.5072 14.989C13.1376 17.4021 8.86227 17.4018 7.49281 14.989C6.27057 13.2206 6.27057 8.77934 7.49281 7.01098C8.8624 4.59791 13.1378 4.59817 14.5072 7.01098C15.7294 8.77934 15.7295 13.2206 14.5072 14.989Z" fill="#94D600"/>
                            <path d="M9.62703 6.75376C9.19652 6.95409 8.84939 7.26676 8.57932 7.69547C7.62051 9.05476 7.62051 12.9452 8.57932 14.3045C9.04964 15.0511 9.75349 15.4461 10.7251 15.5074C11.7136 14.3279 11.6543 12.5624 10.5459 11.454C9.27738 10.1855 8.97131 8.31377 9.62703 6.75376Z" fill="#94D600"/>
                            </svg>
                        </div>
                        <div class="text-ingre">no artificial colors</div>
                    </div>

                    <div class="ingredients">
                        <div class="img-ingre">
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.2748 6.49255C10.2863 7.6721 10.3456 9.43754 11.454 10.5459C12.7225 11.8144 13.0286 13.6862 12.3729 15.2462C12.8034 15.0459 13.1505 14.7332 13.4206 14.3045C14.3794 12.9452 14.3794 9.05481 13.4206 7.69547C12.9502 6.94887 12.2464 6.55385 11.2748 6.49255Z" fill="#94D600"/>
                            <path d="M19.1857 3.7225L16.6123 6.29581C16.3616 6.54653 15.955 6.54653 15.7043 6.29581C15.4535 6.04509 15.4535 5.6385 15.7043 5.38774L18.2776 2.81444C7.71991 -5.9893 -5.98595 7.73104 2.81432 18.2775L5.38766 15.7042C5.63838 15.4535 6.04497 15.4535 6.29574 15.7042C6.5465 15.9549 6.5465 16.3615 6.29574 16.6123L3.7224 19.1856C14.2801 27.9893 27.986 14.269 19.1857 3.7225ZM14.5072 14.989C13.1376 17.4021 8.86227 17.4018 7.49281 14.989C6.27057 13.2206 6.27057 8.77934 7.49281 7.01098C8.8624 4.59791 13.1378 4.59817 14.5072 7.01098C15.7294 8.77934 15.7295 13.2206 14.5072 14.989Z" fill="#94D600"/>
                            <path d="M9.62703 6.75376C9.19652 6.95409 8.84939 7.26676 8.57932 7.69547C7.62051 9.05476 7.62051 12.9452 8.57932 14.3045C9.04964 15.0511 9.75349 15.4461 10.7251 15.5074C11.7136 14.3279 11.6543 12.5624 10.5459 11.454C9.27738 10.1855 8.97131 8.31377 9.62703 6.75376Z" fill="#94D600"/>
                            </svg>
                        </div>
                        <div class="text-ingre">no artificial flavors</div>
                    </div>
                    
                </div>

                <div class="container-button">
                    <a class="text-button" href="">SHOP NOW</a>
                </div>

            </div>

            <div class="container-bottle">
                <img class="img-bottle" src="https://cdn.shopify.com/s/files/1/0750/0162/6898/files/bottles.png?v=1682728547" alt="" srcset="">
            </div>

        </div>

        <div class="container-row-green">
            <img class="row-green" src="" alt="" srcset="">
        </div>


    </div>

    <div class="container-frame-colors-footer">

        <div class="container-frames-colors">
            <div class="frame-colors">
                <div class="img-frame-colors">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M25.6066 4.39336C22.7735 1.56029 19.0066 0 15 0C10.9934 0 7.22654 1.56029 4.39336 4.39336C1.56029 7.22654 0 10.9934 0 15C0 19.0066 1.56029 22.7735 4.39336 25.6066C7.22654 28.4397 10.9934 30 15 30C19.0066 30 22.7735 28.4397 25.6066 25.6066C28.4397 22.7735 30 19.0066 30 15C30 10.9934 28.4397 7.22654 25.6066 4.39336ZM1.75781 15C1.75781 11.4629 3.13523 8.1375 5.63637 5.63637C8.1375 3.13523 11.4629 1.75781 15 1.75781C18.2425 1.75781 21.3066 2.91609 23.7214 5.03572L17.1548 11.6022C17.0864 10.3502 16.5758 9.11807 15.6214 8.16375L11.8925 4.43484L10.6496 5.67779L11.8925 6.92074L6.92068 11.8927L5.67773 10.6496L4.43478 11.8926L8.16369 15.6215C9.09035 16.5482 10.3012 17.0868 11.5996 17.1575L5.03566 23.7213C2.91609 21.3066 1.75781 18.2425 1.75781 15ZM18.1074 14.5918C18.4191 14.5918 18.7244 14.633 19.0178 14.7111L14.7111 19.0178C14.6329 18.7245 14.5918 18.4192 14.5918 18.1074C14.5918 17.1684 14.9575 16.2855 15.6214 15.6215C16.2855 14.9575 17.1683 14.5918 18.1074 14.5918ZM15.6214 20.5933L20.5933 15.6214L21.8363 16.8643L16.8643 21.8362L15.6214 20.5933ZM11.8926 15.4082C11.5809 15.4082 11.2756 15.367 10.9822 15.2889L15.2889 10.9822C15.3671 11.2755 15.4082 11.5808 15.4082 11.8926C15.4082 12.8316 15.0425 13.7145 14.3786 14.3785C13.7145 15.0425 12.8317 15.4082 11.8926 15.4082ZM14.3786 9.4067L9.4067 14.3786L8.16375 13.1357L13.1356 8.16375L14.3786 9.4067ZM24.3636 24.3636C21.8625 26.8648 18.5371 28.2422 15 28.2422C11.7575 28.2422 8.69338 27.0839 6.27861 24.9643L12.8451 18.3978C12.9135 19.6498 13.4242 20.8819 14.3785 21.8363L18.1074 25.5652L19.3504 24.3222L18.1073 23.0792L23.0793 18.1073L24.3223 19.3504L25.5652 18.1074L21.8363 14.3785C20.9097 13.4518 19.6988 12.9132 18.4004 12.8425L24.9643 6.27861C27.0839 8.69344 28.2422 11.7575 28.2422 15C28.2422 18.5371 26.8648 21.8625 24.3636 24.3636Z" fill="white"/>
                    </svg>
                </div>

                <div class="text-frame-colors">
                    NON GMO
                </div>
            </div>

            <div class="frame-colors">
                <div class="img-frame-colors">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 0C6.70951 0 0 6.70881 0 15C0 23.2905 6.70881 30 15 30C23.2905 30 30 23.2912 30 15C30 6.70951 23.2912 0 15 0ZM28.2422 15C28.2422 18.3353 27.0023 21.3861 24.9598 23.7169L21.2539 20.011C22.2238 18.119 21.9556 15.8297 21.941 15.7127C21.8912 15.3135 21.5768 14.999 21.1776 14.9493C21.1593 14.947 21.0876 14.9385 20.9729 14.9295C22.2727 12.9693 21.9569 10.2768 21.941 10.1496C21.8912 9.75035 21.5768 9.43588 21.1776 9.38613C21.0877 9.37494 19.7143 9.21381 18.2244 9.58025C18.2887 9.27943 18.3255 8.96795 18.3255 8.64762C18.3255 5.90062 15.6536 3.78955 15.5399 3.70102C15.2224 3.45393 14.7777 3.45393 14.4602 3.70102C14.3465 3.78955 11.6746 5.90062 11.6746 8.64762C11.6746 8.96789 11.7113 9.27938 11.7757 9.5802C11.3779 9.48234 10.9885 9.42205 10.6295 9.3866L6.28312 5.04023C8.61393 2.99771 11.6647 1.75781 15 1.75781C22.3018 1.75781 28.2422 7.69822 28.2422 15ZM14.1048 20.9949C13.215 20.9889 11.7244 20.8316 10.83 19.9372C9.93533 19.0425 9.77818 17.5516 9.77215 16.6625C10.662 16.6685 12.1525 16.8258 13.047 17.7202C13.9416 18.6148 14.0988 20.1058 14.1048 20.9949ZM14.1047 15.4296C11.2148 15.4034 9.79272 14.1375 9.77221 11.0994C12.6527 11.1186 14.0835 12.3984 14.1047 15.4296ZM20.2277 11.0992C20.2082 14.0236 18.8924 15.4108 15.8975 15.4318C15.9248 12.4093 17.317 11.1187 20.2277 11.0992ZM15.0001 11.7111C14.2037 10.904 13.4324 9.78609 13.4324 8.64756C13.4324 7.38234 14.3755 6.21697 14.9999 5.58404C15.6248 6.21738 16.5676 7.38258 16.5676 8.64756C16.5676 9.7858 15.7921 10.9083 15.0001 11.7111ZM16.953 17.7202C17.8477 16.8255 19.3386 16.6684 20.2277 16.6624C20.2218 17.5521 20.0645 19.0427 19.17 19.9372C18.2753 20.8318 16.7844 20.989 15.8953 20.995C15.9013 20.1053 16.0586 18.6146 16.953 17.7202ZM1.75781 15C1.75781 11.6647 2.99771 8.61393 5.04023 6.28312L8.35348 9.59637C8.19492 9.73482 8.08652 9.92906 8.05904 10.1495C8.04316 10.2768 7.7274 12.9692 9.02713 14.9294C8.91246 14.9384 8.8408 14.9469 8.82246 14.9492C8.42326 14.999 8.10879 15.3134 8.05904 15.7126C8.04117 15.8556 7.64467 19.2377 9.58711 21.1801C10.9254 22.5185 12.9463 22.7463 14.1212 22.7528V25.6055C14.1212 26.0909 14.5147 26.4844 15.0001 26.4844C15.4854 26.4844 15.879 26.0909 15.879 25.6055V22.7528C16.9836 22.7466 18.8357 22.5445 20.1654 21.4083L23.7169 24.9598C21.3861 27.0023 18.3353 28.2422 15 28.2422C7.69822 28.2422 1.75781 22.3018 1.75781 15Z" fill="white"/>
                    </svg>                
                </div>

                <div class="text-frame-colors">
                    GLUTEN FREE
                </div>
            </div>

            <div class="frame-colors">
                <div class="img-frame-colors">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 0C6.72914 0 0 6.72914 0 15C0 23.2709 6.72914 30 15 30C23.2709 30 30 23.2709 30 15C30 6.72914 23.2709 0 15 0ZM15 2.50002C18.2996 2.50002 21.296 3.79441 23.5324 5.89037C22.9717 5.70855 20.7925 5.02611 19.5813 5.00127C17.2278 4.98481 15.094 6.40506 14.2749 8.61697C14.0723 9.16324 13.6206 9.60516 13.0322 9.82852C12.6962 9.95689 12.3812 10.1251 12.0804 10.3129L7.09465 5.32711C9.25043 3.56203 12.0029 2.50002 15 2.50002ZM12.1875 15C12.1875 14.688 12.2506 14.393 12.3448 14.1124L15.8876 17.6552C15.6069 17.7494 15.312 17.8125 15 17.8125C13.4497 17.8125 12.1875 16.5509 12.1875 15ZM13.125 19.6875C13.125 21.2384 11.8628 22.5 10.3125 22.5C8.76223 22.5 7.5 21.2384 7.5 19.6875C7.5 18.1366 8.76223 16.875 10.3125 16.875C11.8628 16.875 13.125 18.1366 13.125 19.6875ZM14.1124 12.3448C14.3931 12.2506 14.688 12.1875 15 12.1875C16.5503 12.1875 17.8125 13.4491 17.8125 15C17.8125 15.312 17.7494 15.6069 17.6552 15.8876L14.1124 12.3448ZM16.875 10.3125C16.875 8.76158 18.1372 7.5 19.6875 7.5C21.2378 7.5 22.5 8.76158 22.5 10.3125C22.5 11.8634 21.2378 13.125 19.6875 13.125C18.1372 13.125 16.875 11.8634 16.875 10.3125ZM2.50002 15C2.50002 12.0029 3.56203 9.25043 5.32711 7.09465L10.3131 12.0806C10.1254 12.3815 9.9573 12.6966 9.82916 13.0328C9.60457 13.62 9.16389 14.0723 8.61697 14.2749C6.40506 15.094 4.9524 17.2271 5.00127 19.5825C5.0257 20.7701 5.67867 22.9044 5.87215 23.5123C3.78715 21.2781 2.50002 18.2899 2.50002 15ZM15 27.5C11.71 27.5 8.7218 26.2127 6.4875 24.1277C7.09465 24.321 9.23086 24.9744 10.4187 24.9988C10.4578 24.9994 10.4956 25 10.5346 25C12.843 25 14.9194 23.5584 15.725 21.3831C15.9277 20.8368 16.3794 20.3949 16.9665 20.1715C16.9665 20.1715 16.9665 20.1715 16.9678 20.1715C17.3038 20.0432 17.6188 19.875 17.9195 19.6871L22.9054 24.6729C20.7496 26.438 17.9971 27.5 15 27.5ZM24.6729 22.9054L19.687 17.9194C19.8747 17.6185 20.0428 17.3034 20.1709 16.9672C20.3955 16.38 20.8362 15.9277 21.3831 15.7251C23.595 14.906 25.0477 12.7729 24.9988 10.4175C24.9739 9.20766 24.2919 7.02891 24.1102 6.46822C26.2058 8.70457 27.5 11.7006 27.5 15C27.5 17.9971 26.438 20.7496 24.6729 22.9054Z" fill="white"/>
                    </svg>                                
                </div>

                <div class="text-frame-colors">
                    NO SOY
                </div>
            </div>

            <div class="frame-colors">
                <div class="img-frame-colors">
                    <svg width="25" height="29" viewBox="0 0 25 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.3797 17.4868L13.5501 14.1857V10.8184H13.6068C14.076 10.8184 14.4564 10.438 14.4564 9.96875V6.90744C16.0451 6.29209 17.1751 4.74869 17.1751 2.94531V0.849609C17.1751 0.380398 16.7947 0 16.3255 0H13.3802C11.8879 0 10.5738 0.774164 9.81587 1.94124C9.20205 1.33678 8.36048 0.962891 7.43294 0.962891H4.54427C4.07505 0.962891 3.69466 1.34329 3.69466 1.8125V3.79492C3.69466 5.0963 4.43025 6.22854 5.50716 6.79931V9.96875C5.50716 10.438 5.88755 10.8184 6.35677 10.8184H6.41341V14.1857L2.46442 18.7927C1.98677 19.3501 1.61527 19.9821 1.36004 20.6713C-0.136233 24.7156 2.87626 29 7.15936 29H12.8042C13.7436 29 14.668 28.7858 15.5064 28.3784C16.2989 28.7758 17.1927 29 18.138 29C21.3861 29 24.0286 26.3575 24.0286 23.1094C24.0286 19.1496 20.1708 16.2988 16.3797 17.4868ZM7.20638 9.11914V7.19336H12.7572V9.11914C12.1192 9.11914 7.85293 9.11914 7.20638 9.11914ZM10.8314 4.24805C10.8314 2.84262 11.9748 1.69922 13.3802 1.69922H15.4759V2.94531C15.4759 4.35074 14.3325 5.49414 12.9271 5.49414H10.8314C10.8314 5.32394 10.8314 4.58948 10.8314 4.24805ZM5.39387 2.66211H7.43294C8.36989 2.66211 9.13216 3.42438 9.13216 4.36133V5.49414H7.09309C6.15614 5.49414 5.39387 4.73187 5.39387 3.79492V2.66211ZM11.8509 10.8184V13.6504H8.11263V10.8184H11.8509ZM7.15936 27.3008C4.05466 27.3008 1.868 24.1952 2.95363 21.2611C3.13873 20.7612 3.40822 20.3027 3.75464 19.8985L7.65378 15.3496H12.3098L14.8021 18.2572C11.8074 20.3225 11.3775 24.5507 13.8754 27.171C13.5267 27.2565 13.1671 27.3008 12.8042 27.3008H7.15936V27.3008ZM18.138 27.3008C15.8269 27.3008 13.9466 25.4205 13.9466 23.1094C13.9466 20.7982 15.8269 18.918 18.138 18.918C20.4492 18.918 22.3294 20.7982 22.3294 23.1094C22.3294 25.4205 20.4492 27.3008 18.138 27.3008Z" fill="white"/>
                    </svg>                                               
                </div>

                <div class="text-frame-colors">
                    NO BANNED SUBSTANCES
                </div>
            </div>

            <div class="frame-colors">
                <div class="img-frame-colors">
                    <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.5 0.0473633C6.50467 0.0473633 0 6.55203 0 14.5474C0.728965 33.7571 28.274 33.7519 29 14.5472C29 6.55197 22.4953 0.0473633 14.5 0.0473633ZM14.5 27.3481C11.2759 27.3481 8.32679 26.1495 6.07369 24.1751L8.27554 21.9733C8.60734 21.6415 8.60734 21.1036 8.27554 20.7718C7.94379 20.44 7.40582 20.44 7.07402 20.7718L4.87223 22.9736C-5.2575 10.6833 10.6487 -5.20605 22.9263 4.91953L20.7245 7.12138C20.3927 7.45312 20.3927 7.9911 20.7245 8.3229C21.0562 8.65464 21.5942 8.65464 21.926 8.3229L24.1278 6.12105C31.3471 14.1645 25.4119 27.4388 14.5 27.3481Z" fill="white"/>
                    </svg>                                                              
                </div>

                <div class="text-frame-colors">
                    NO CAFFEINE
                </div>
            </div>

        </div>

        <div class="container-footer">

            <div class="items-footer">
                <div class="svg-footer">
                    <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.6 12.3795L6.425 10.2045C6.24167 10.0212 6.01667 9.92953 5.75 9.92953C5.48333 9.92953 5.25 10.0295 5.05 10.2295C4.86667 10.4129 4.775 10.6462 4.775 10.9295C4.775 11.2129 4.86667 11.4462 5.05 11.6295L7.9 14.4795C8.08333 14.6629 8.31667 14.7545 8.6 14.7545C8.88333 14.7545 9.11667 14.6629 9.3 14.4795L14.975 8.80453C15.1583 8.62119 15.25 8.39619 15.25 8.12953C15.25 7.86286 15.15 7.62953 14.95 7.42953C14.7667 7.24619 14.5333 7.15453 14.25 7.15453C13.9667 7.15453 13.7333 7.24619 13.55 7.42953L8.6 12.3795ZM10 20.5795C8.61667 20.5795 7.31667 20.3169 6.1 19.7915C4.88333 19.2669 3.825 18.5545 2.925 17.6545C2.025 16.7545 1.31267 15.6962 0.788 14.4795C0.262667 13.2629 0 11.9629 0 10.5795C0 9.19619 0.262667 7.89619 0.788 6.67953C1.31267 5.46286 2.025 4.40453 2.925 3.50453C3.825 2.60453 4.88333 1.89186 6.1 1.36653C7.31667 0.841862 8.61667 0.579529 10 0.579529C11.3833 0.579529 12.6833 0.841862 13.9 1.36653C15.1167 1.89186 16.175 2.60453 17.075 3.50453C17.975 4.40453 18.6873 5.46286 19.212 6.67953C19.7373 7.89619 20 9.19619 20 10.5795C20 11.9629 19.7373 13.2629 19.212 14.4795C18.6873 15.6962 17.975 16.7545 17.075 17.6545C16.175 18.5545 15.1167 19.2669 13.9 19.7915C12.6833 20.3169 11.3833 20.5795 10 20.5795Z" fill="#94D600"/>
                    </svg>
                </div>
                <div class="title-footer">
                    VEGAN CERTIFIED
                </div>
            </div>

            <div class="items-footer">
                <div class="svg-footer">
                    <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.6 12.3795L6.425 10.2045C6.24167 10.0212 6.01667 9.92953 5.75 9.92953C5.48333 9.92953 5.25 10.0295 5.05 10.2295C4.86667 10.4129 4.775 10.6462 4.775 10.9295C4.775 11.2129 4.86667 11.4462 5.05 11.6295L7.9 14.4795C8.08333 14.6629 8.31667 14.7545 8.6 14.7545C8.88333 14.7545 9.11667 14.6629 9.3 14.4795L14.975 8.80453C15.1583 8.62119 15.25 8.39619 15.25 8.12953C15.25 7.86286 15.15 7.62953 14.95 7.42953C14.7667 7.24619 14.5333 7.15453 14.25 7.15453C13.9667 7.15453 13.7333 7.24619 13.55 7.42953L8.6 12.3795ZM10 20.5795C8.61667 20.5795 7.31667 20.3169 6.1 19.7915C4.88333 19.2669 3.825 18.5545 2.925 17.6545C2.025 16.7545 1.31267 15.6962 0.788 14.4795C0.262667 13.2629 0 11.9629 0 10.5795C0 9.19619 0.262667 7.89619 0.788 6.67953C1.31267 5.46286 2.025 4.40453 2.925 3.50453C3.825 2.60453 4.88333 1.89186 6.1 1.36653C7.31667 0.841862 8.61667 0.579529 10 0.579529C11.3833 0.579529 12.6833 0.841862 13.9 1.36653C15.1167 1.89186 16.175 2.60453 17.075 3.50453C17.975 4.40453 18.6873 5.46286 19.212 6.67953C19.7373 7.89619 20 9.19619 20 10.5795C20 11.9629 19.7373 13.2629 19.212 14.4795C18.6873 15.6962 17.975 16.7545 17.075 17.6545C16.175 18.5545 15.1167 19.2669 13.9 19.7915C12.6833 20.3169 11.3833 20.5795 10 20.5795Z" fill="#94D600"/>
                    </svg>
                </div>
                <div class="title-footer">
                    KROSHER CERTIFIED
                </div>
            </div>
    
        </div>
        
    </div>

</section>