{{'bylt-beyond.css' | asset_url | stylesheet_tag}}

<section class="father-beyond">

    <div class="background-general">


        <div class="background-green">

            <div class="father-frame-beyond">

                <div class="father-text-beyond">
                    BEYOND
                </div>

                <div class="container-img1-drink">
                    <img class="img-drink" src="https://cdn.shopify.com/s/files/1/0758/8115/2813/files/Rectangle_25.png?v=1683127567" alt="" srcset="">
                </div>

                <div class="father-text-your">
                    YOUR
                </div>

                <div class="container-img2-beyond">
                    <img class="img2-beyond" src="https://cdn.shopify.com/s/files/1/0758/8115/2813/files/Rectangle_26.png?v=1683127656" alt="" srcset="">
                </div>

                <div class="father-text-limit">
                    LIMIT
                </div>

                <div class="container-img3-machine">
                    <img class="img3-machine" src="https://cdn.shopify.com/s/files/1/0758/8115/2813/files/Rectangle_27.png?v=1683127671" alt="" srcset="">
                </div>

                <div class="container-img4-beyond">
                    <img class="img4-beyond" src="https://cdn.shopify.com/s/files/1/0758/8115/2813/files/Rectangle_28.png?v=1683127671" alt="" srcset="">
                </div>

                <div class="father-text-training">
                    TRAINING
                </div>














            </div>

        </div>


    </div>







</section>