* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.background-general {
    background-image: url(https://cdn.shopify.com/s/files/1/0758/8115/2813/files/Rectangle_24.png?v=1683127985);
}

.background-green {
    background-image: url(https://cdn.shopify.com/s/files/1/0758/8115/2813/files/Ellipse_8.png?v=1683128153);
}