* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container-hydration {
    display: flex;
    width: 100%;
    background: #111013;
    color: white;
}

.container-img-hydra {
    width: 60%;
}

.img-hydra {
    width: 100%;
    height: 100%;
    object-fit: unset;
}

.container-info-hydra {
    width: 40%;
}