* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.father-option-header {
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Sen', sans-serif;
    background-color:black;
    width: 100%;
    padding: 13px 40px;
}
 .father-options, .father-items, .container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
 }


 .options {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-right: 16px;
    color: white;
    font-family: 'Sen', sans-serif;
 }

 .items {
    margin-right: 12px;
 }

 .last {
    margin-right: 0;
 }

 @media (max-width:1030px) {
    .options {
        font-size: 15px;
     }
    
 }