* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.father-content-hero {
    display: flex;
    background: #19181B;
}

.container-bottle {
    min-width: 952px;
    height: 470px;
}

.img-bottle {
    width: 100%;
}

.father-info-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-title-hero {
    max-width: 582px;
    margin-bottom: 24px;
}

.title-hero {
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 101.2%;
    text-align: center;
    color: #FFFFFF;
}

.container-title-hero span {
    color: #94D600;
}

.container-frames-green {
    display: flex;
    margin-bottom: 20px;
}

.frame-green {
    width: 436px;
    height: 32px;
    background: radial-gradient(104.24% 3354.61% at 55.45% 9.32%, #94D600 0%, #69930C 100%) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame-green1 {
    margin-right: 14px;
}

.text-frame {
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 101.2%;
    text-align: center;
    letter-spacing: 0.08em;
    color: #FFFFFF;
}

.container-img-ray {
    margin-top: 30px;
}

.container-ingredients , .ingredients {
    display: flex;
    color:#FFFFFF;
}


.ingredients {
    justify-content: center;
    align-items: center;
}

.ingredients .img-ingre {
    display: flex;
}