* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.father-option-header {
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Sen', sans-serif;
    background-color:black;
    width: 100%;
    padding: 13px 40px;
}
 .father-options, .father-items, .container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
 }


 .options {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-right: 16px;
    color: white;
    font-family: 'Sen', sans-serif;
 }

 .items {
    margin-right: 12px;
    display: flex;
 }

 .last {
    margin-right: 0;
 }

 .burguer{
    display: none;
    flex-direction: column;
    justify-content: center;
 }

 .father-option-header .burguer .line-burguer {
    height: 3px;
    width: 25.5px;
    border-radius: 0px;    
    background: #94D600;
    margin-bottom: 5px;
    display: flex;
 }

 @media (max-width:1030px) {
    .options {
        font-size: 15px;
     }

     .father-option-header {
        padding: 13px 30px;
    }
    
 }

 @media (max-width:972px) {
    .father-options{
        display: none;
     }

     .father-option-header {
        padding: 13px 30px;
    }

    .burguer{
        display: flex;
     }
    
    
 }