* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.father-title-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 59px;
}

.title-products {
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 101.2%;
    color: radial-gradient(50% 50% at 50% 50%, #444444 0%, #444444 18.23%, #444444 34.9%, #444444 54.17%, #444444 72.4%, #444444 86.46%, #444444 100%);
    margin-bottom: 67px;
}
.slider-products {
    padding-bottom: 81px;
}

.father-slider-products {
    display: flex;
}

.container-products {
    max-width: 271px;
}

.container-info-products {
    background-color: #272223;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.pack {
    position: absolute;
    top: -17px;
    right: 0px;
    width: 52px;
    height: 16.86px;
    background: #8ECE00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Sen', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 101.2%;
    color: #FFFFFF;
    clip-path: polygon(13% 0%, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 36%);
}
.containerimg-products {
    height: 254px;
}



.containerimg-products img {
    width: 100%;
    height: 100%;
}

.price{
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 101.2%;
    color: #FFFFFF;
    margin-bottom: 7px;
}

.flavor {
    margin-top: 8px;
}

.button-buy {
    width: 271px;
    height: 36px;
    background: #89C600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-button-buy{
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 101.2%;
    color: #FFFFFF;
}

.container-products {
    margin-right: 24px;
}

.container-products:nth-child(4) {
    margin-right: 0px;
}



.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  @media(max-width:1194px){
    .container-products:nth-child(3) {
        display: none;
    }

    .container-products:nth-child(4) {
        display: none;
    }
  }