* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.background-general {
    background-image: url(https://cdn.shopify.com/s/files/1/0758/8115/2813/files/Rectangle_24.png?v=1683127985);
}

.background-green {
    background-image: url(https://cdn.shopify.com/s/files/1/0758/8115/2813/files/Ellipse_8.png?v=1683128153);
    background-repeat: no-repeat;
    background-position: left;
}

.father-frame-beyond {
    color: white;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 80px 60px;
}

.same-width {
    width: 33.33%;
}

.same-width2  {
    width: 50%;
}

.img-width{
    width: 100%;
}

.container-img1-drink, .container-img2-beyond {
    margin-bottom: 54px;
}

.father-text-beyond{ 
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 119px;
    line-height: 79.2%;
    color: #89C600;
}