* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.father-title-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 59px;
}

.title-products {
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 101.2%;
    color: radial-gradient(50% 50% at 50% 50%, #444444 0%, #444444 18.23%, #444444 34.9%, #444444 54.17%, #444444 72.4%, #444444 86.46%, #444444 100%);

}

