* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.father-content-hero {
    display: flex;
    background: #19181B;
}

.content-hero {
    width: 100%;
}

.father-bottle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-bottle {
    max-width: 952px;
}

.img-bottle {
    width: 100%;
}

.father-info-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-title-hero {
    max-width: 582px;
    margin-bottom: 24px;
}

.title-hero {
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 101.2%;
    text-align: center;
    color: #FFFFFF;
}

.container-title-hero span {
    color: #94D600;
}

.container-frames-green {
    display: flex;
    margin-bottom: 20px;
}

.frame-green {
    width: 436px;
    height: 32px;
    background: radial-gradient(104.24% 3354.61% at 55.45% 9.32%, #94D600 0%, #69930C 100%) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame-green1 {
    margin-right: 14px;
}

.text-frame {
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 101.2%;
    text-align: center;
    letter-spacing: 0.08em;
    color: #FFFFFF;
}

.container-img-ray {
    margin-top: 30px;
}

.container-ingredients , .ingredients {
    display: flex;
    color:#FFFFFF;
}

.container-ingredients {
    margin-bottom: 31px;
}


.ingredients {
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.ingredients .img-ingre {
    display: flex;
    margin-right: 8px;
}

.ingre-last {
    margin: 0;
}

.text-ingre {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 101.2%;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    font-family: 'Sen', sans-serif;

}

.container-button {
    height: 52.000000000000014px;
    width: 176.00000000000003px;
    background: linear-gradient(94.27deg, #89C600 0%, #6A9900 96.75%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-button a{
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 101.2%;
    letter-spacing: 0.055em;
    color: #FFFFFF;
}

@media (max-width:1045px) {
    
    .container-frames-green {
        display: block;
        margin-bottom: 36px;
    }
    
    .frame-green1 {
        margin-right: 0;
        margin-bottom: 11px;
    }

    .ingredients {
        margin-right: 25px;
        margin-bottom: 14px
    }

    .ingre-last {
        margin-right: 0;
    }
}

@media (max-width:972px) {
    
    .container-ingredients {
        display: block;
    }
}

@media (max-width:620px) {
    
    .title-hero {
        font-size: 60px;
    }
}