* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.father-content-hero {
    display: flex;
}

.container-bottle {
    min-width: 952px;
    height: 470px;
}

.img-bottle {
    width: 100%;
}

.father-info-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}